body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    padding: 150px;
}

.square {
    outline: .5px solid rgb(213, 213, 213);
    width: 10px;
    height: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headerbtn {
    display: flex;
    justify-content: center;
}

.inputbtn {
    text-align: center;
    margin: 30px;
}
