

.square {
    outline: .5px solid grey;
    width: 10px;
    height: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 160px;
    width: 160px;
}